---
import { mockProducts } from '../../mocks/mockProducts'
import Layout from '../../layouts/Layout.astro'
import { LeftArrowIcon } from '../../components/icons/LeftArrowIcon'
import ProductPreview from '../../components/ProductPreview.tsx'

export const getStaticPaths = () => {
  return mockProducts.map((product) => ({
    params: { id: product.id },
    props: { product },
  }))
}

const { product } = Astro.props
---

<Layout title={product.name}>
  <div class="mt-12 max-w-3xl mx-auto flex flex-col gap-3 font-arvo">
    <aside>
      <a href="/products" class="flex gap-2 text-accent group">
        <LeftArrowIcon />
        <span
          class="relative after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:w-full after:origin-bottom after:scale-x-0 after:bg-accent after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] group-hover:after:origin-bottom group-hover:after:scale-x-100"
          >Volver atrás</span
        >
      </a>
    </aside>

    <main class="flex gap-4 flex-col">
      <ProductPreview
        mainImage={product.image}
        images={mockProducts.map((img) => img.image)}
        alt={product.name}
        client:load
      />

      <div class="prose prose-invert self-end">
        <h3>{product.name}</h3>
        <span
          class="rounded-lg px-2 text-sm font-light py-1 border-2 border-accent w-fit h-fit capitalize"
        >
          {product.category}
        </span>
        <p>{product.description}</p>
      </div>
    </main>
  </div>
</Layout>
